@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .scrollbar-normal {
      
/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border-radius: 100vh;
  border: 3px solid #adadad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #898989;
}
    }
    .scrollbar-dark {
      
/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #313131;
  border-radius: 100vh;
  border: 3px solid #071019;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #050c16;
}
    }
    

}
 
